node_modules
.next
.env
.env.local
.env.*.local
.env.local.dev
storage/products/*
storage/covers/*
!storage/products/.gitkeep
!storage/covers/.gitkeep

# TypeScript incremental build cache
*.tsbuildinfo
